@namespace One1Lion.Dialog
@if (Show) {
  <div class="dialog-container @AddContainerCssClasses" @attributes="AdditionalAttributes">
    <div class="dialog" style="background-color: black">
      @ChildContent
    </div>
  </div>
} 

@code {
  bool _Show;
  [Parameter]
  public bool Show {
    get => _Show;
    set {
      if (_Show != value) {
        _Show = value;
        if (ShowChanged.HasDelegate) { ShowChanged.InvokeAsync(_Show); }
        StateHasChanged();
      }
    }
  }
  [Parameter] public EventCallback<bool> ShowChanged { get; set; }
  [Parameter] public string Title { get; set; }
  [Parameter] public string AddContainerCssClasses { get; set; }
  [Parameter] public RenderFragment ChildContent { get; set; }
  [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object> AdditionalAttributes { get; set; }
}