@import url("/css/open-iconic/font/css/open-iconic-bootstrap.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");
/* Neutral */
/* Purple */
/* Turquoise / Teal */
/* Blue */
/* Green */
/* Orange / Yellow */
/* Red */
/* Light Theme */
:root {
  --page-bg: #FAFAFA;
  --default-fore: #0B0415;
  --top-bar-bg: #FFF;
  --top-bar-fore: #5B5B5B;
  --top-row-height: 3.3rem;
  --side-nav-bg: #0B0415;
  --side-nav-fore: #FAFAFA;
  --side-nav-width: 35ch;
  --light-shadow: 0 0 2rem rgba(170, 170, 170, .3);
  --primary: #0037AA;
}

.dark-theme {
  --top-bar-bg: #333;
  --top-bar-fore: white;
  --side-nav-bg: #111;
  --side-nav-fore: #ddd;
}

html, body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--page-bg);
  color: var(--default-fore);
}

#blazor-error-ui {
  position: fixed;
  display: none;
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  z-index: 10002;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

button {
  border-width: 0.1em;
  background-color: transparent;
  color: var(--primary);
}
