@import '';

/* _content/One1Lion.Loader/IvanLoader.razor.rz.scp.css */
/* Loaders from https://codepen.io/vank0/pen/mARwLg */
[class*="loader-"][b-7va6lhevxj] {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none; }

.loader-01[b-7va6lhevxj] {
  border: .2em dotted currentcolor;
  border-radius: 50%;
  animation: 1s loader-01-b-7va6lhevxj linear infinite; }

@keyframes loader-01-b-7va6lhevxj {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-02[b-7va6lhevxj] {
  border: .2em solid transparent;
  border-left-color: currentcolor;
  border-right-color: currentcolor;
  border-radius: 50%;
  animation: 1s loader-02-b-7va6lhevxj linear infinite; }

@keyframes loader-02-b-7va6lhevxj {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-03[b-7va6lhevxj] {
  border: .2em solid currentcolor;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 1s loader-03-b-7va6lhevxj linear infinite;
  position: relative; }

@keyframes loader-03-b-7va6lhevxj {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-04[b-7va6lhevxj] {
  border: 1px solid currentcolor;
  border-radius: 50%;
  animation: 1s loader-04-b-7va6lhevxj linear infinite;
  position: relative; }
  .loader-04[b-7va6lhevxj]:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -.2em;
    left: 50%;
    border: .2em solid currentcolor;
    border-radius: 50%; }

@keyframes loader-04-b-7va6lhevxj {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-05[b-7va6lhevxj] {
  border: .2em solid transparent;
  border-top-color: currentcolor;
  border-radius: 50%;
  animation: 1s loader-05-b-7va6lhevxj linear infinite;
  position: relative; }
  .loader-05[b-7va6lhevxj]:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: -.2em;
    left: -.2em;
    border: .2em solid currentcolor;
    border-radius: 50%;
    opacity: .5; }

@keyframes loader-05-b-7va6lhevxj {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-06[b-7va6lhevxj] {
  border: .2em solid currentcolor;
  border-radius: 50%;
  animation: loader-06-b-7va6lhevxj 1s ease-out infinite; }

@keyframes loader-06-b-7va6lhevxj {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }

.loader-07[b-7va6lhevxj] {
  border: 0 solid transparent;
  border-radius: 50%;
  position: relative; }
  .loader-07[b-7va6lhevxj]:before, .loader-07[b-7va6lhevxj]:after {
    content: '';
    border: .2em solid currentcolor;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader-07-b-7va6lhevxj 1s linear infinite;
    opacity: 0; }
  .loader-07[b-7va6lhevxj]:before {
    animation-delay: 1s; }
  .loader-07[b-7va6lhevxj]:after {
    animation-delay: .5s; }

@keyframes loader-07-b-7va6lhevxj {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }

.loader-08[b-7va6lhevxj] {
  position: relative; }
  .loader-08[b-7va6lhevxj]:before, .loader-08[b-7va6lhevxj]:after {
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-color: currentcolor;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader-08-b-7va6lhevxj 2.0s infinite ease-in-out; }
  .loader-08[b-7va6lhevxj]:after {
    animation-delay: -1.0s; }

@keyframes loader-08-b-7va6lhevxj {
  0%, 100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }

.loader-09[b-7va6lhevxj] {
  background-color: currentcolor;
  border-radius: 50%;
  animation: loader-09-b-7va6lhevxj 1.0s infinite ease-in-out; }

@keyframes loader-09-b-7va6lhevxj {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1);
    opacity: 0; } }

.loader-10[b-7va6lhevxj] {
  position: relative;
  animation: loader-10-1-b-7va6lhevxj 2.0s infinite linear; }
  .loader-10[b-7va6lhevxj]:before, .loader-10[b-7va6lhevxj]:after {
    content: '';
    width: 0;
    height: 0;
    border: .5em solid currentcolor;
    display: block;
    position: absolute;
    border-radius: 100%;
    animation: loader-10-2-b-7va6lhevxj 2s infinite ease-in-out; }
  .loader-10[b-7va6lhevxj]:before {
    top: 0;
    left: 50%; }
  .loader-10[b-7va6lhevxj]:after {
    bottom: 0;
    right: 50%;
    animation-delay: -1s; }

@keyframes loader-10-1-b-7va6lhevxj {
  100% {
    transform: rotate(360deg); } }

@keyframes loader-10-2-b-7va6lhevxj {
  0%, 100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }

.loader-11[b-7va6lhevxj] {
  background-color: currentcolor;
  animation: loader-11-b-7va6lhevxj 1.2s infinite ease-in-out; }

@keyframes loader-11-b-7va6lhevxj {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.loader-12[b-7va6lhevxj] {
  position: relative; }
  .loader-12[b-7va6lhevxj]:before, .loader-12[b-7va6lhevxj]:after {
    content: '';
    display: block;
    position: absolute;
    background-color: currentcolor;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 50%;
    box-shadow: -.5em 0 0 currentcolor;
    animation: loader-12-b-7va6lhevxj 1s linear infinite; }
  .loader-12[b-7va6lhevxj]:after {
    top: 50%;
    bottom: 0;
    animation-delay: .25s; }

@keyframes loader-12-b-7va6lhevxj {
  0%, 100% {
    box-shadow: -.5em 0 0 transparent;
    background-color: currentcolor; }
  50% {
    box-shadow: -.5em 0 0 currentcolor;
    background-color: transparent; } }

.loader-13[b-7va6lhevxj]:before,
.loader-13[b-7va6lhevxj]:after,
.loader-13[b-7va6lhevxj] {
  border-radius: 50%;
  animation-fill-mode: both;
  animation: loader-13-b-7va6lhevxj 1.8s infinite ease-in-out; }

.loader-13[b-7va6lhevxj] {
  color: currentcolor;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;
  top: -1em; }
  .loader-13[b-7va6lhevxj]:before {
    right: 100%;
    animation-delay: -0.32s; }
  .loader-13[b-7va6lhevxj]:after {
    left: 100%; }
  .loader-13[b-7va6lhevxj]:before, .loader-13[b-7va6lhevxj]:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit; }

@keyframes loader-13-b-7va6lhevxj {
  0%, 80%, 100% {
    box-shadow: 0 1em 0 -1em; }
  40% {
    box-shadow: 0 1em 0 -.2em; } }

.loader-14[b-7va6lhevxj] {
  border-radius: 50%;
  box-shadow: 0 1em 0 -.2em currentcolor;
  position: relative;
  animation: loader-14-b-7va6lhevxj 0.8s ease-in-out alternate infinite;
  animation-delay: 0.32s;
  top: -1em; }
  .loader-14[b-7va6lhevxj]:after, .loader-14[b-7va6lhevxj]:before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    box-shadow: inherit;
    animation: inherit; }
  .loader-14[b-7va6lhevxj]:before {
    left: -1em;
    animation-delay: 0.48s; }
  .loader-14[b-7va6lhevxj]:after {
    right: -1em;
    animation-delay: 0.16s; }

@keyframes loader-14-b-7va6lhevxj {
  0% {
    box-shadow: 0 2em 0 -.2em currentcolor; }
  100% {
    box-shadow: 0 1em 0 -.2em currentcolor; } }

.loader-15[b-7va6lhevxj] {
  background: currentcolor;
  position: relative;
  animation: loader-15-b-7va6lhevxj 1s ease-in-out infinite;
  animation-delay: 0.4s;
  width: .25em;
  height: .5em;
  margin: 0 .5em; }
  .loader-15[b-7va6lhevxj]:after, .loader-15[b-7va6lhevxj]:before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: inherit;
    animation: inherit; }
  .loader-15[b-7va6lhevxj]:before {
    right: .5em;
    animation-delay: 0.2s; }
  .loader-15[b-7va6lhevxj]:after {
    left: .5em;
    animation-delay: 0.6s; }

@keyframes loader-15-b-7va6lhevxj {
  0%, 100% {
    box-shadow: 0 0 0 currentcolor, 0 0 0 currentcolor; }
  50% {
    box-shadow: 0 -.25em 0 currentcolor, 0 .25em 0 currentcolor; } }

.loader-16[b-7va6lhevxj] {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%; }
  .loader-16[b-7va6lhevxj]:before, .loader-16[b-7va6lhevxj]:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    animation: 1s spin-b-7va6lhevxj linear infinite; }
  .loader-16[b-7va6lhevxj]:before {
    transform: rotateX(70deg); }
  .loader-16[b-7va6lhevxj]:after {
    transform: rotateY(70deg);
    animation-delay: .4s; }

@keyframes rotate-b-7va6lhevxj {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg); }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg); } }

@keyframes rotateccw-b-7va6lhevxj {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg); } }

@keyframes spin-b-7va6lhevxj {
  0%, 100% {
    box-shadow: .2em 0px 0 0px currentcolor; }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor; }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor; }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor; }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor; }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor; }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor; }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor; } }

.loader-17[b-7va6lhevxj] {
  position: relative;
  background-color: currentcolor;
  border-radius: 50%; }
  .loader-17[b-7va6lhevxj]:after, .loader-17[b-7va6lhevxj]:before {
    content: "";
    position: absolute;
    width: .25em;
    height: .25em;
    border-radius: 50%;
    opacity: .8; }
  .loader-17[b-7va6lhevxj]:after {
    left: -.5em;
    top: -.25em;
    background-color: currentcolor;
    transform-origin: .75em 1em;
    animation: loader-17-b-7va6lhevxj 1s linear infinite;
    opacity: .6; }
  .loader-17[b-7va6lhevxj]:before {
    left: -1.25em;
    top: -.75em;
    background-color: currentcolor;
    transform-origin: 1.5em 1em;
    animation: loader-17-b-7va6lhevxj 2s linear infinite; }

@keyframes loader-17-b-7va6lhevxj {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0); }
  100% {
    transform: rotateZ(360deg) translate3d(0, 0, 0); } }

.loader-18[b-7va6lhevxj] {
  position: relative; }
  .loader-18[b-7va6lhevxj]:before, .loader-18[b-7va6lhevxj]:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    border: .1em solid transparent;
    border-bottom-color: currentcolor;
    top: 0;
    left: 0;
    animation: 1s loader-18-b-7va6lhevxj linear infinite; }
  .loader-18[b-7va6lhevxj]:before {
    width: 1em;
    height: 1em; }
  .loader-18[b-7va6lhevxj]:after {
    width: .8em;
    height: .8em;
    top: .1em;
    left: .1em;
    animation-direction: reverse; }

@keyframes loader-18-b-7va6lhevxj {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-19[b-7va6lhevxj] {
  border-top: .2em solid currentcolor;
  border-right: .2em solid transparent;
  animation: loader-19-b-7va6lhevxj 1s linear infinite;
  border-radius: 100%;
  position: relative; }

@keyframes loader-19-b-7va6lhevxj {
  to {
    transform: rotate(360deg); } }

.loader-20[b-7va6lhevxj] {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px .1em currentcolor;
  border-radius: 50%;
  position: relative; }
  .loader-20[b-7va6lhevxj]:after, .loader-20[b-7va6lhevxj]:before {
    position: absolute;
    content: "";
    background-color: currentcolor;
    top: .5em;
    left: .5em;
    height: .1em;
    transform-origin: left center; }
  .loader-20[b-7va6lhevxj]:after {
    width: .4em;
    animation: loader-20-b-7va6lhevxj 2s linear infinite; }
  .loader-20[b-7va6lhevxj]:before {
    width: .3em;
    animation: loader-20-b-7va6lhevxj 8s linear infinite; }

@keyframes loader-20-b-7va6lhevxj {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-21[b-7va6lhevxj] {
  position: relative; }
  .loader-21[b-7va6lhevxj]:before, .loader-21[b-7va6lhevxj]:after {
    position: absolute;
    content: ""; }
  .loader-21[b-7va6lhevxj]:before {
    width: 80%;
    height: 80%;
    left: 10%;
    bottom: 10%;
    border-radius: 100% 100% 100% 0;
    box-shadow: 0px 0px 0px .1em currentcolor;
    animation: loader-21-b-7va6lhevxj 1s linear infinite;
    transform: rotate(-46deg); }
  .loader-21[b-7va6lhevxj]:after {
    width: 1em;
    height: .3em;
    border-radius: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: -.2em;
    z-index: -1; }

@keyframes loader-21-b-7va6lhevxj {
  0% {
    top: 0; }
  50% {
    top: -5px; }
  100% {
    top: 0; } }

.loader-22[b-7va6lhevxj] {
  border: .1em currentcolor solid;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .loader-22[b-7va6lhevxj]:after, .loader-22[b-7va6lhevxj]:before {
    position: absolute;
    content: "";
    background-color: currentcolor; }
  .loader-22[b-7va6lhevxj]:after {
    width: 50%;
    height: .1em;
    left: 50%;
    top: 50%;
    transform-origin: left center;
    animation: loader-22-b-7va6lhevxj 2s linear infinite alternate; }
  .loader-22[b-7va6lhevxj]:before {
    width: 100%;
    height: 40%;
    left: 0;
    bottom: 0; }

@keyframes loader-22-b-7va6lhevxj {
  0% {
    transform: rotate(-160deg); }
  100% {
    transform: rotate(-20deg); } }

.loader-23[b-7va6lhevxj] {
  height: .5em;
  border: .1em currentcolor solid;
  border-radius: .1em;
  position: relative;
  animation: loader-23-b-7va6lhevxj 5s linear infinite; }
  .loader-23[b-7va6lhevxj]:after {
    width: .07em;
    height: 100%;
    background-color: currentcolor;
    border-radius: 0px .5em .5em 0px;
    position: absolute;
    content: "";
    top: 0;
    left: calc(100% + .1em); }

@keyframes loader-23-b-7va6lhevxj {
  0% {
    box-shadow: inset 0px 0px 0px currentcolor; }
  100% {
    box-shadow: inset 1em 0px 0px currentcolor; } }

.loader-24[b-7va6lhevxj] {
  width: .8em;
  height: 1em;
  border: .1em currentcolor solid;
  border-radius: 0px 0px .2em .2em;
  position: relative; }
  .loader-24[b-7va6lhevxj]:after, .loader-24[b-7va6lhevxj]:before {
    position: absolute;
    content: ""; }
  .loader-24[b-7va6lhevxj]:after {
    width: .2em;
    height: 50%;
    border: .1em currentcolor solid;
    border-left: none;
    border-radius: 0px .5em .5em 0px;
    left: calc(100% + .1em);
    top: .1em; }
  .loader-24[b-7va6lhevxj]:before {
    width: .1em;
    height: .3em;
    background-color: currentcolor;
    top: -.3em;
    left: .05em;
    box-shadow: .2em 0px 0px 0px currentcolor, .2em -.2em 0px 0px currentcolor, .4em 0px 0px 0px currentcolor;
    animation: loader-24-b-7va6lhevxj 1s linear infinite alternate; }

@keyframes loader-24-b-7va6lhevxj {
  0% {
    height: 0px; }
  100% {
    height: 6px; } }

.loader-25[b-7va6lhevxj] {
  border: .1em currentcolor solid;
  position: relative;
  animation: loader-25-1-b-7va6lhevxj 5s linear infinite; }
  .loader-25[b-7va6lhevxj]:after {
    width: .2em;
    height: .2em;
    position: absolute;
    content: "";
    background-color: currentcolor;
    bottom: calc(100% + .2em);
    left: -.4em;
    animation: loader-25-2-b-7va6lhevxj 1s ease-in-out infinite; }

@keyframes loader-25-1-b-7va6lhevxj {
  0% {
    box-shadow: inset 0 0 0 0 currentcolor; }
  100% {
    box-shadow: inset 0 -1em 0 0 currentcolor; } }

@keyframes loader-25-2-b-7va6lhevxj {
  25% {
    left: calc(100% + .2em);
    bottom: calc(100% + .2em); }
  50% {
    left: calc(100% + .2em);
    bottom: -.4em; }
  75% {
    left: -.4em;
    bottom: -.4em; }
  100% {
    left: -.4em;
    bottom: calc(100% + .2em); } }

.loader-26[b-7va6lhevxj] {
  width: .5em;
  height: .5em;
  background-color: currentcolor;
  box-shadow: 1em 0px 0px currentcolor;
  border-radius: 50%;
  animation: loader-26-b-7va6lhevxj 1s ease-in-out infinite alternate; }

@keyframes loader-26-b-7va6lhevxj {
  0% {
    opacity: 0.1;
    transform: rotate(0deg) scale(0.5); }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1.2); } }

.loader-27[b-7va6lhevxj] {
  box-shadow: inset 0 0 0 .1em currentcolor;
  border-radius: 50%;
  position: relative;
  margin-left: 1.2em; }
  .loader-27[b-7va6lhevxj]:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    position: absolute;
    right: 1.2em;
    top: 0;
    box-shadow: inset 0 0 0 .1em currentcolor; }
  .loader-27[b-7va6lhevxj]:after {
    border: .2em solid currentcolor;
    box-shadow: -1.2em 0 0 0 currentcolor;
    width: 0;
    height: 0;
    border-radius: 50%;
    left: 50%;
    top: 25%;
    position: absolute;
    content: "";
    animation: loader-27-b-7va6lhevxj 2s linear infinite alternate; }

@keyframes loader-27-b-7va6lhevxj {
  0% {
    left: 0; }
  100% {
    left: .5em; } }

.loader-28[b-7va6lhevxj] {
  position: relative;
  animation: 2s loader-28-1-b-7va6lhevxj infinite; }
  .loader-28[b-7va6lhevxj]:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 80% 20%;
    border: .1em solid currentcolor;
    transform: rotate(45deg);
    border-width: .1em .05em .05em .1em; }
  .loader-28[b-7va6lhevxj]:after {
    content: '';
    display: block;
    width: .2em;
    height: .2em;
    position: absolute;
    top: .4em;
    left: 50%;
    border-radius: 50%;
    box-shadow: -.07em .07em 0 .1em currentcolor;
    animation: 2s loader-28-2-b-7va6lhevxj linear infinite; }

@keyframes loader-28-1-b-7va6lhevxj {
  0%, 100% {
    transform: scaleY(1); }
  10% {
    transform: scaleY(0); }
  20% {
    transform: scaleY(1); } }

@keyframes loader-28-2-b-7va6lhevxj {
  0%, 100% {
    transform: translateX(0); }
  30% {
    transform: translateX(-100%); }
  50% {
    transform: transalteX(200%); } }

.loader-29[b-7va6lhevxj] {
  border-radius: 50%;
  box-shadow: inset 0 0 0 .1em currentcolor, -.5em -.5em 0 -.4em currentcolor, 0 -.7em 0 -.4em currentcolor, .5em -.5em 0 -.4em currentcolor, -.5em .5em 0 -.4em currentcolor, 0 .7em 0 -.4em currentcolor, .5em .5em 0 -.4em currentcolor, -.7em 0 0 -.4em currentcolor, .7em 0 0 -.4em currentcolor;
  animation: 5s loader-29-b-7va6lhevxj linear infinite; }

@keyframes loader-29-b-7va6lhevxj {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-30[b-7va6lhevxj] {
  border: .2em solid transparent;
  border-top-color: currentcolor;
  border-bottom-color: currentcolor;
  border-radius: 50%;
  position: relative;
  animation: 1s loader-30-b-7va6lhevxj linear infinite; }
  .loader-30[b-7va6lhevxj]:before, .loader-30[b-7va6lhevxj]:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border: .2em solid transparent;
    border-bottom-color: currentcolor; }
  .loader-30[b-7va6lhevxj]:before {
    transform: rotate(135deg);
    right: -.3em;
    top: -.05em; }
  .loader-30[b-7va6lhevxj]:after {
    transform: rotate(-45deg);
    left: -.3em;
    bottom: -.05em; }

@keyframes loader-30-b-7va6lhevxj {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-31[b-7va6lhevxj] {
  box-shadow: 0 0 2em currentcolor;
  background-color: currentcolor;
  position: relative;
  border-radius: 50%;
  transform: rotateX(-60deg) perspective(1000px); }
  .loader-31[b-7va6lhevxj]:before, .loader-31[b-7va6lhevxj]:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    animation: 1s loader-31-b-7va6lhevxj ease-out infinite; }
  .loader-31[b-7va6lhevxj]:after {
    animation-delay: .4s; }

@keyframes loader-31-b-7va6lhevxj {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    box-shadow: 0 0 0 -.5em currentcolor, 0 0 0 -.5em currentcolor, 0 0 0 -.5em currentcolor, 0 0 0 -.5em currentcolor, 0 0 0 -.5em currentcolor, 0 0 0 -.5em currentcolor, 0 0 0 -.5em currentcolor, 0 0 0 -.5em currentcolor; }
  100% {
    opacity: 0;
    transform: rotate(180deg);
    box-shadow: -1em -1em 0 -.35em currentcolor, 0 -1.5em 0 -.35em currentcolor, 1em -1em 0 -.35em currentcolor, -1.5em 0 0 -.35em currentcolor, 1.5em 0 0 -.35em currentcolor, -1em 1em 0 -.35em currentcolor, 0 1.5em 0 -.35em currentcolor, 1em 1em 0 -.35em currentcolor; } }

.loader-32[b-7va6lhevxj] {
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 1em 0 currentcolor, inset 0 0 1em 0 currentcolor;
  animation: 1s loader-32-b-7va6lhevxj linear infinite; }
  .loader-32[b-7va6lhevxj]:before, .loader-32[b-7va6lhevxj]:after {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 50%; }
  .loader-32[b-7va6lhevxj]:before {
    border-top: .2em solid currentcolor;
    border-right: .2em solid transparent;
    top: .28em;
    right: calc(50% - .22em); }
  .loader-32[b-7va6lhevxj]:after {
    border-bottom: .2em solid currentcolor;
    border-left: .2em solid transparent;
    bottom: .28em;
    left: calc(50% - .22em); }

@keyframes loader-32-b-7va6lhevxj {
  0% {
    transform: rotateX(-60deg) rotateZ(0deg); }
  100% {
    transform: rotateX(-60deg) rotateZ(360deg); } }

.loader-33[b-7va6lhevxj] {
  border-radius: 50%;
  position: relative; }
  .loader-33[b-7va6lhevxj]:after, .loader-33[b-7va6lhevxj]:before {
    position: absolute;
    content: ""; }
  .loader-33[b-7va6lhevxj]:after {
    height: 0.1em;
    width: 1em;
    background-color: currentcolor;
    border-radius: 0.1em;
    bottom: 0;
    left: 0;
    transform-origin: bottom center;
    animation: loader-33-1-b-7va6lhevxj 0.8s ease-in-out infinite alternate; }
  .loader-33[b-7va6lhevxj]:before {
    height: .2em;
    width: .2em;
    background-color: currentcolor;
    border-radius: 50%;
    top: 0;
    left: calc(50% - .1em);
    animation: loader-33-2-b-7va6lhevxj 0.4s ease-in-out infinite alternate; }

@keyframes loader-33-2-b-7va6lhevxj {
  0% {
    height: .24em;
    transform: translateY(0px); }
  75% {
    height: .2em;
    width: .2em; }
  100% {
    height: .1em;
    width: .24em;
    transform: translateY(0.8em); } }

@keyframes loader-33-1-b-7va6lhevxj {
  0% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(45deg); } }

.loader-34[b-7va6lhevxj] {
  position: relative;
  width: 1em;
  height: .5em; }
  .loader-34[b-7va6lhevxj]:after, .loader-34[b-7va6lhevxj]:before {
    position: absolute;
    content: "";
    height: .4em;
    width: .4em;
    top: 0;
    background-color: currentcolor;
    border-radius: 50%; }
  .loader-34[b-7va6lhevxj]:after {
    right: 0;
    animation: loader-34-2-b-7va6lhevxj 0.5s ease-in-out infinite;
    animation-direction: alternate; }
  .loader-34[b-7va6lhevxj]:before {
    left: 0;
    animation: loader-34-1-b-7va6lhevxj 0.5s ease-in-out infinite;
    animation-direction: alternate; }

@keyframes loader-34-1-b-7va6lhevxj {
  0% {
    transform: translatex(0px); }
  65% {
    height: .4em;
    width: .4em; }
  100% {
    height: .5em;
    width: .3em;
    transform: translatex(0.2em); } }

@keyframes loader-34-2-b-7va6lhevxj {
  0% {
    transform: translatex(0px); }
  65% {
    height: .4em;
    width: .4em; }
  100% {
    height: .5em;
    width: .3em;
    transform: translatex(-0.2em); } }

.loader-35[b-7va6lhevxj] {
  margin: 0 .5em;
  position: relative; }
  .loader-35[b-7va6lhevxj]:before {
    border-radius: 50%;
    background-color: currentcolor;
    animation: loader-35-b-7va6lhevxj 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    content: '';
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    position: absolute; }

@keyframes loader-35-b-7va6lhevxj {
  0% {
    transform: translateX(0) scale(1); }
  25% {
    transform: translateX(-100%) scale(0.3); }
  50% {
    transform: translateX(0) scale(1); }
  75% {
    transform: translateX(100%) scale(0.3); }
  100% {
    transform: translateX(0) scale(1); } }

.loader-36[b-7va6lhevxj] {
  position: relative; }
  .loader-36[b-7va6lhevxj]:before, .loader-36[b-7va6lhevxj]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0; }
  .loader-36[b-7va6lhevxj]:before {
    width: 1em;
    height: 1em;
    border: .1em solid currentcolor;
    border-radius: 50%;
    animation: loader-36-1-b-7va6lhevxj 1.15s infinite -0.3s; }
  .loader-36[b-7va6lhevxj]:after {
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: .1em solid currentcolor;
    border-radius: 50%;
    transform: translate(-0.2em);
    animation: loader-36-2-b-7va6lhevxj 4.6s infinite steps(1); }

@keyframes loader-36-1-b-7va6lhevxj {
  to {
    transform: rotateX(180deg); } }

@keyframes loader-36-2-b-7va6lhevxj {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    box-shadow: .2em 0 0 currentcolor; }
  75% {
    box-shadow: .2em 0 0 currentcolor, .4em 0 0 currentcolor; } }

.loader-37[b-7va6lhevxj] {
  border-right: .1em solid currentcolor;
  border-radius: 100%;
  animation: loader-37-b-7va6lhevxj 800ms linear infinite; }
  .loader-37[b-7va6lhevxj]:before, .loader-37[b-7va6lhevxj]:after {
    content: '';
    width: .8em;
    height: .8em;
    display: block;
    position: absolute;
    top: calc(50% - .4em);
    left: calc(50% - .4em);
    border-left: .08em solid currentcolor;
    border-radius: 100%;
    animation: loader-37-b-7va6lhevxj 400ms linear infinite reverse; }
  .loader-37[b-7va6lhevxj]:after {
    width: .6em;
    height: .6em;
    top: calc(50% - .3em);
    left: calc(50% - .3em);
    border: 0;
    border-right: .05em solid currentcolor;
    animation: none; }

@keyframes loader-37-b-7va6lhevxj {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

.loader-38[b-7va6lhevxj] {
  height: 0.1em;
  width: 0.1em;
  box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
  animation: loader-38-b-7va6lhevxj 6s infinite; }

@keyframes loader-38-b-7va6lhevxj {
  0% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor; }
  8.33% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor; }
  16.66% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor; }
  24.99% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor; }
  33.32% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor; }
  41.65% {
    box-shadow: 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor; }
  49.98% {
    box-shadow: 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor; }
  58.31% {
    box-shadow: -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor; }
  66.64% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor; }
  74.97% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor; }
  83.3% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor; }
  91.63% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor; }
  100% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor; } }

.loader-39[b-7va6lhevxj] {
  position: relative;
  width: .15em;
  height: .15em;
  background-color: currentcolor;
  border-radius: 100%;
  animation: loader-39-1-b-7va6lhevxj 30s infinite linear; }
  .loader-39[b-7va6lhevxj]:before, .loader-39[b-7va6lhevxj]:after {
    content: '';
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .loader-39[b-7va6lhevxj]:before {
    width: .3em;
    height: 1em;
    animation: loader-39-2-b-7va6lhevxj .8s linear infinite; }
  .loader-39[b-7va6lhevxj]:after {
    width: 1em;
    height: .3em;
    animation: loader-39-2-b-7va6lhevxj 1.2s linear infinite; }

@keyframes loader-39-1-b-7va6lhevxj {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loader-39-2-b-7va6lhevxj {
  0% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor; }
  25% {
    box-shadow: 0.04em 0.04em 0 0.02em currentcolor; }
  50% {
    box-shadow: -0.04em 0.04em 0 0.02em currentcolor; }
  75% {
    box-shadow: -0.04em -0.04em 0 0.02em currentcolor; }
  100% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor; } }

.loader-40[b-7va6lhevxj] {
  border: .05em currentcolor solid;
  border-radius: .2em;
  overflow: hidden;
  position: relative; }
  .loader-40[b-7va6lhevxj]:after, .loader-40[b-7va6lhevxj]:before {
    content: '';
    border-radius: 50%;
    position: absolute;
    width: inherit;
    height: inherit;
    animation: loader-40-b-7va6lhevxj 2s infinite linear; }
  .loader-40[b-7va6lhevxj]:before {
    border-top: .2em currentcolor solid;
    top: -.15em;
    left: calc( -50% - .15em);
    transform-origin: right center; }
  .loader-40[b-7va6lhevxj]:after {
    border-bottom: .2em currentcolor solid;
    top: .15em;
    right: calc( -50% - .15em);
    transform-origin: left center; }

@keyframes loader-40-b-7va6lhevxj {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.loader-41[b-7va6lhevxj] {
  border: .05em currentcolor solid;
  border-radius: .2em;
  position: relative;
  background: linear-gradient(45deg, transparent 48%, currentcolor 50%, currentcolor 50%, transparent 52%, transparent), linear-gradient(-45deg, transparent 48%, currentcolor 50%, currentcolor 50%, transparent 52%, transparent);
  background-size: .5em .5em;
  background-position: 0% 0%;
  animation: loader-41-b-7va6lhevxj 1s infinite linear; }

@keyframes loader-41-b-7va6lhevxj {
  from {
    background-position: 0 0; }
  to {
    background-position: -1em 0; } }

.loader-42[b-7va6lhevxj] {
  width: 2em;
  height: .66em;
  border: .05em currentcolor solid;
  border-radius: .1em;
  background: linear-gradient(-60deg, transparent 0%, transparent 50%, currentcolor 50%, currentcolor 75%, transparent 75%, transparent);
  background-size: 1em 2em;
  background-position: 0 0;
  animation: loader-42-b-7va6lhevxj 0.8s infinite linear; }

@keyframes loader-42-b-7va6lhevxj {
  from {
    background-position: 0 0; }
  to {
    background-position: -2em 0; } }
/* _content/One1Lion.Loader/ThreeBoxLoader.razor.rz.scp.css */
.threebox-loader[b-9tdtibgtq3] {
  display: inline-block;
  text-align: center; }
  .threebox-loader label[b-9tdtibgtq3] {
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.4em; }
  .threebox-loader .no-label label[b-9tdtibgtq3] {
    display: none; }
  .threebox-loader .boxes[b-9tdtibgtq3] {
    display: flex;
    justify-content: space-around;
    min-width: 64px;
    transition: opacity ease-in 1s; }
    .threebox-loader .boxes div[b-9tdtibgtq3] {
      height: 16px;
      width: 16px;
      opacity: 0;
      box-shadow: 0 0 0 0 black;
      transform: scale(1);
      background-color: #fff; }
    .threebox-loader .boxes div:nth-child(1)[b-9tdtibgtq3] {
      animation: fade-in-out-b-9tdtibgtq3 1.2s infinite; }
    .threebox-loader .boxes div:nth-child(2)[b-9tdtibgtq3] {
      animation: fade-in-out-b-9tdtibgtq3 1.2s infinite;
      animation-delay: 0.2s; }
    .threebox-loader .boxes div:nth-child(3)[b-9tdtibgtq3] {
      animation: fade-in-out-b-9tdtibgtq3 1.2s infinite;
      animation-delay: 0.4s; }
  .threebox-loader.vertical[b-9tdtibgtq3] {
    text-align: center; }
    .threebox-loader.vertical .boxes[b-9tdtibgtq3] {
      flex-direction: column;
      align-items: center;
      align-content: space-around;
      width: auto;
      height: 64px; }

@keyframes fade-in-out-b-9tdtibgtq3 {
  0% {
    transform: scale(0.95);
    opacity: 1; }
  70% {
    transform: scale(1);
    opacity: 0; }
  100% {
    transform: scale(0.95); } }
