.split-button {
  margin-right: .5em;
  position: relative; }
  .split-button .main-button, .split-button .dropdown-button {
    width: auto !important;
    border: none;
    outline: none; }
  .split-button .main-button {
    margin-right: 0;
    padding-right: 0;
    background: none; }
  .split-button .dropdown {
    /* The container <div> - needed to position the dropdown content */
    position: absolute;
    display: inline-block;
    /* Dropdown Button */
    /* Dropdown Content (Hidden by Default) */
    /* Show the dropdown menu on hover */ }
    .split-button .dropdown .dropdown-button {
      padding: 0;
      margin: 0;
      font-size: .5em;
      padding-left: .2em;
      padding-right: .2em;
      margin-left: .2em; }
    .split-button .dropdown .dropdown-content {
      display: none;
      position: absolute;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      background-color: #415c73;
      min-width: 160px;
      list-style: none;
      margin: 0;
      padding: 0;
      z-index: 10;
      font-size: 1rem;
      left: 0;
      transform: translateX(-1em);
      border: 1px solid #333;
      border-top: none;
      text-shadow: 0 0 1px #000;
      /* Links inside the dropdown */ }
      .split-button .dropdown .dropdown-content::before {
        content: "";
        width: 0px;
        height: 0px;
        border: .8em solid transparent;
        position: absolute;
        left: .7em;
        top: -22px;
        border-bottom: 10px solid #415c73; }
      .split-button .dropdown .dropdown-content li {
        padding: .2em 16px;
        text-decoration: none;
        display: block;
        cursor: pointer;
        /* Change color of dropdown links on hover */ }
        .split-button .dropdown .dropdown-content li:hover {
          background-color: rgba(255, 255, 255, 0.2); }
    .split-button .dropdown:hover, .split-button .dropdown.show-list {
      background-color: rgba(0, 0, 0, 0.2); }
      .split-button .dropdown:hover .dropdown-content, .split-button .dropdown.show-list .dropdown-content {
        display: block; }

.caret-bottom {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }
