.dockable-toolbar-container, .dockable-toolbar-container ::deep {
  position: fixed;
  display: flex;
  height: 2em;
  min-width: 2em;
  padding: .25em .25em;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  background-color: var(--light-blue);
  background: linear-gradient(0deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.6) 40%, rgba(0,0,0,.8) 50%, rgba(0,0,0,.6) 60%, rgba(0,0,0,.2) 100%);
  color: var(--light);
  font-size: 1.5rem;
  z-index: 1003;

  .drag-area {
    transform: rotate(-90deg);
    cursor: move;
    color: rgba(255,255,255, .4);
  }

  .toolbar-popover-button {
    position: relative;

    &:not(:hover) {
      .popup-menu {
        display: none;
        z-index: 1003;
      }
    }

    button:disabled + .popup-menu,
    button[disabled] + .popup-menu {
      display: none;
    }
  }

  button {
    margin: 0 .2em;
    outline: none;
    padding: 0;
    height: 1.5em;
    width: 1.5em;
    border: none;
    background: none;
    background-color: transparent;
    color: var(--light);
    text-align: center;
    transform: translateY(-2px);

    &:focus {
      background-color: var(--dark-blue);
      background: linear-gradient(0deg, rgba(155,155,185,.2) 0%, rgba(155,155,185,.6) 40%, rgba(155,155,185,.8) 50%, rgba(155,155,185,.6) 60%, rgba(155,155,185,.2) 100%);
    }

    & + .popup-menu {
      position: absolute;
      top: 1.8rem;
      left: .2rem;
      padding: .2rem 0;
      background-color: var(--other-dark);
      font-size: 1rem;
      border: 1px solid var(--darker-blue);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
      background-image: -moz-linear-gradient(top, #444, #444);
      color: #ccc;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 0px 0px 2px #999;
      min-height: 50px;
      border: 1px solid #333;
      z-index: 1003;
      /*text-shadow: 0 0 1px #000;*/
      &::before {
        content: "";
        width: 0px;
        height: 0px;
        border: 0.8em solid transparent;
        position: absolute;
        left: .4em;
        top: -23px;
        transform: rotate(180deg);
        border-top: 10px solid #333;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          white-space: nowrap;
          padding: 0 .4rem;
          width: 100%;
          cursor: pointer;

          &:hover {
            background-color: rgba(255,255,255,.2);
          }
        }
      }
    }

    &:hover {
      background-color: var(--dark-blue);
      background: linear-gradient(0deg, rgba(102,102,125,.2) 0%, rgba(102,102,125,.6) 40%, rgba(102,102,125,.8) 50%, rgba(102,102,125,.6) 60%, rgba(102,102,125,.2) 100%);
    }

    &.pressed {
      background-color: var(--light);
      color: var(--dark-blue);
    }

    &:disabled, &[disabled] {
      background-color: rgba(0,0,0,.2) !important;
      color: #555 !important;
      cursor: not-allowed;
    }
  }

  &.undocked {
    cursor: move;
  }

  &.dock-top, &dock-bottom {
    left: 50%;
    transform: translate(-50%, 0);
    transition: all .3s ease-in-out;

    .divider {
      height: 100%;
      width: 2px;
      background-color: var(--light-blue);
      background: linear-gradient(0deg, rgba(255,255,255,.2) 0%, rgba(255,255,255,.6) 40%, rgba(255,255,255,.8) 50%, rgba(255,255,255,.6) 60%, rgba(255,255,255,.2) 100%);
    }
  }

  &.dock-top {
    top: .5rem;
  }

  &.dock-bottom {
    bottom: calc(100vh - .5rem);
  }
}
