
/* Neutral */
$white: #FFF;
$gray1: #FAFAFA;
$gray2: #CBCBCB;
$gray3: #A6A6A6;
$gray4: #818181;
$gray5: #5B5B5B;
$gray6: #363636;
$gray7: #111;
$black: #000;

/* Purple */
$purple1: #9720BA;
$purple2: #801B9F;
$purple3: #681783;
$purple4: #511268;
$purple5: #3A0D4C;
$purple6: #220931;
$purple7: #0B0415;

/* Turquoise / Teal */
$teal1: #3CE5E9;
$teal2: #33C3C6;
$teal3: #2AA0A4;
$teal4: #217E81;
$teal5: #175C5E;
$teal6: #0E393C;
$teal7: #051719;

/* Blue */
$blue1: #00A6FF;
$blue2: #008AEA;
$blue3: #006FD5;
$blue4: #0053C0;
$blue5: #0037AA;
$blue6: #001C95;
$blue7: #000080;

/* Green */
$green1: #7DFF7D;
$green2: #6AE76D;
$green3: #58CF5C;
$green4: #45B84C;
$green5: #32AA3C;
$green6: #20882B;
$green7: #0D701B;

/* Orange / Yellow */
$orange1: #FFCD7D;
$orange2: #E7B36A;
$orange3: #D09958;
$orange4: #B87F45;
$orange5: #A06432;
$orange6: #894A20;
$orange7: #71300D;

/* Red */
$red1: #FF7D7D;
$red2: #E76A6A;
$red3: #CF5858;
$red4: #B84545;
$red5: #AA3232;
$red6: #882020;
$red7: #700D0D;

/* Light Theme */
// Note: Themes might be handled this way
// https://sass-lang.com/documentation/variables
// For now, I am using Theme SCSS variables
$light-theme-bg: $gray1;
$light-theme-fore: $purple7;
$light-theme-sidebar-bg: $purple7;
$light-theme-sidebar-fore: $gray1;
$light-theme-topbar-bg: $purple7;
$light-theme-topbar-fore: $gray1;
