@import 'ColorVariables';

:root {
    --top-bar-bg: white;
    --top-bar-fore: black;
    --top-row-height: 3.3rem;
    --side-nav-bg: blue;
    --side-nav-fore: pink;
    --side-nav-width: 35ch;
    --light-shadow: 0 0 2rem rgba(170, 170, 170, .3);
}

.dark-theme {
    --top-bar-bg: #333;
    --top-bar-fore: white;
    --side-nav-bg: #111;
    --side-nav-fore: #ddd;
}
