@import 'ColorVariables';

:root {
    --page-bg: #{$light-theme-bg};
    --default-fore: #{$light-theme-fore};
    --top-bar-bg: #{$white};
    --top-bar-fore: #{$gray5};
    --top-row-height: 3.3rem;
    --side-nav-bg: #{$purple7};
    --side-nav-fore: #{$gray1};
    --side-nav-width: 35ch;
    --light-shadow: 0 0 2rem rgba(170, 170, 170, .3);
    --primary: #{$blue5};
}

.dark-theme {
    --top-bar-bg: #333;
    --top-bar-fore: white;
    --side-nav-bg: #111;
    --side-nav-fore: #ddd;
}
