.page {
    display: grid;
    grid-template-areas: 'sb tb' 'sb m';
    grid-template-rows: var(--top-row-height) 1fr;
    grid-template-columns: auto 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    ::deep .sidebar {
        grid-area: sb;
    }

    ::deep .topbar {
        grid-area: tb;
    }

    .main {
        grid-area: m;
        overflow: auto;

        ::deep .page-content {
            padding: 1rem;
        }
    }
}

// TODO: Media queries
