@page "/carousel"
@using One1Lion.Carousel

<h3>CarouselSamples</h3>

<Carousel>
    <CarouselItem>
        <img src="https://picsum.photos/450/200?t=1" style="width:100%;height:100%" />
    </CarouselItem>
    <CarouselItem>
        <img src="https://picsum.photos/450/200?t=2" style="width:100%;height:100%" />
    </CarouselItem>
    <CarouselItem>
        <img src="https://picsum.photos/450/200?t=3" style="width:100%;height:100%" />
    </CarouselItem>
    <CarouselItem>
        <img src="https://picsum.photos/450/200?t=4" style="width:100%;height:100%" />
    </CarouselItem>
    <CarouselItem>
        <img src="https://picsum.photos/450/200?t=5" style="width:100%;height:100%" />
    </CarouselItem>
</Carousel>

@code {

}
