@page "/dnd-samples"
@using One1Lion.Samples.Pages.DragAndDropSampleUsage

<DragAndDropSimple />
<hr />
<DragAndDropQueryBuilder />
@*
    <hr />
  <DragAndDropComplex />
*@

<div style="height: 200px;"></div>
@code {

}
