@page "/dnd-samples"
@using One1Lion.Samples.Pages.DragAndDropSampleUsage

<DragAndDropQueryBuilder />
<hr />
<DragAndDropSimple />
<hr />
<DragAndDropComplex />
<div style="height: 200px;"></div>
@code {

}
