@page "/"

<h1>One1Lion Blazor Components</h1>

<p>
  This is the landing pad for the One1Lion Blazor Component Library.  There will be more descriptions to come. 
  For now, enjoy this placeholder page and feel free to poke around.
</p>
