@typeparam TItem
<div class="draganddrop-title">
  @ChildContent
</div>

@code {
  [CascadingParameter(Name = "State")]
  public DnDState<TItem> DnDState { get; set; }
  [Parameter] public RenderFragment ChildContent { get; set; }

  [Parameter] public IDnDContainer<TItem> Parent { get; set; }
  [Parameter] public int IndexInParent { get; set; }

  public string Id { get; } = Guid.NewGuid().ToString();
  public string Address { get; private set; }

  protected override void OnParametersSet() {
    Address = $"{(Parent?.Address ?? Id)}.{IndexInParent}";
  }
}
