.typeahead-container {
  display: flex;

  .input-group {
    position: relative;
    height: calc(1.5em + .75rem + 2px);
    overflow-y: visible;
    width: 100%;

    input {
      display: block !important;
      z-index: 1;
    }

    .input-group-append {
      position: absolute;
      top: calc(1.5em + .75rem + 4px);
      display: none;
      padding-left: 4px;
      z-index: 2;

      .suggest-list {
        background-color: #fff;
        border: solid 1px gray;

        .suggest-list-body {
          max-height: 420px;
          overflow-y: auto;
          color: gray;

          .dropdown-item {
            cursor: pointer;

            &.starts-with-item {
            }

            &.contains-item {
            }

            &.other-item {
            }

            &.pre-select {
              background-color: rgba(0, 0, 0, .2);
              outline: 2px rgba(0, 0, 0, .4) dashed;
            }
          }
        }
      }

      &.show {
        display: block !important;
      }
    }
  }

  input {
    margin: 0;
    width: 100%;
  }

  button {
    margin: 0;
    border-radius: 0 .2rem .2rem 0;
  }
}
