@using One1Lion.Samples.SharedLib.Search.FileRepositoryExpressions

<span>TODO: Fill in logic for File Repository criteria</span>

@code {
  [Parameter] public IFileRepositoryExpressionItem Item { get; set; } = new FileRepositoryExpressionItem();

}
