@namespace One1Lion.Card

@inherits ChildElement<ICardBody>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string AddCssClasses { get; set; }
    [Parameter] public string Target { get; set; }

    protected override void Register(ICardBody parent)
    {
        parent.AddLink(this);
    }

    public override RenderFragment RenderContent =>
    @<a class="o1l-card-link@(string.IsNullOrWhiteSpace(AddCssClasses) ? string.Empty : $" {AddCssClasses}")" href="@Target">
        @ChildContent
    </a>;
}
