@namespace One1Lion.Card

@inherits ChildElement<ICard>
@implements ICardBody

<CascadingValue Value=this>
    @ChildContent
</CascadingValue>

@code {
    [Parameter] public string AddCssClasses { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    protected override void Register(ICard parent)
    {
        parent.AddBody(this);
    }

    private CardTitle _title;
    public void SetTitle(CardTitle title)
    {
        _title = title;
        StateHasChanged();
    }

    private List<CardText> _texts = new List<CardText>();

    public void AddText(CardText text)
    {
        _texts.Add(text);
        StateHasChanged();
    }

    private List<CardLink> _links = new List<CardLink>();

    public void AddLink(CardLink link)
    {
        _links.Add(link);
        StateHasChanged();
    }

    public override RenderFragment RenderContent =>
    @<div class="o1l-card-body@(string.IsNullOrWhiteSpace(AddCssClasses) ? string.Empty : $" {AddCssClasses}")">
        @if (_title is not null)
        {
                @_title.RenderContent
        }
            @foreach (var text in _texts)
        {
                @text.RenderContent
        }
            @foreach (var link in _links)
        {
                @link.RenderContent
        }
        </div>;
}

