<div class="sidebar">
    <div class="top-row">
        <a class="" href="">One1Lion.Samples</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="">
            <li class="">
                <NavLink class="" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="">
                <NavLink class="" href="card">
                    <span class="oi oi-aperture" aria-hidden="true"></span> Card
                </NavLink>
            </li>
            <li class="">
                <NavLink class="" href="dnd-samples">
                    <span class="oi oi-aperture" aria-hidden="true"></span> DnD
                </NavLink>
            </li>
            <li class="">
                <NavLink class="" href="ta-samples">
                    <span class="oi oi-aperture" aria-hidden="true"></span> TypeAhead
                </NavLink>
            </li>
            <li class="">
                <NavLink class="" href="fe-samples">
                    <span class="oi oi-aperture" aria-hidden="true"></span> Form Ext
                </NavLink>
            </li>
            <li class="">
                <NavLink class="" href="carousel">
                    <span class="oi oi-aperture" aria-hidden="true"></span> Carousel
                </NavLink>
            </li>
        </ul>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
